
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^mymasters\.by$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mymasters\.by$
RewriteRule ^(.*)$ "https\:\/\/mymasters\.by\/$1" [R=301,L]

